<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linyi.viva.extra">

    <!-- 微信 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.LauncherActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="changdubook"/>
            </intent-filter>

        </activity>

        <activity android:name=".ui.activity.LoginActivity">
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name="com.test001.reader.wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="com.test001.reader"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".ui.activity.SetupActivity" />
        <activity android:name=".ui.activity.AccountCenterActivity"></activity>
        <activity android:name=".ui.activity.UserInfoActivity">
        </activity>
        <activity android:name=".ui.activity.FeedbackActivity">
        </activity>
        <activity android:name=".ui.activity.LevelActivity">
        </activity>
        <activity
            android:name=".ui.activity.DialogActivity"
            android:launchMode="singleInstance"
            android:theme="@style/DialogActivityTheme">
        </activity>
        <activity android:name=".ui.activity.InviteFriendActivity">
        </activity>
        <activity android:name=".ui.activity.InviteCodeActivity">
        </activity>
        <activity android:name=".ui.activity.MissionActivity">
        </activity>

    </application>

</manifest>